<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="common_header">
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta content="" name="description" />
    <meta content="webthemez" name="author" />
    <link href="/css/bootstrap.css" rel="stylesheet" />
    <link rel="stylesheet" href="/js/bootstrap/css/bootstrap.css">
    <!-- FontAwesome Styles-->
    <link href="/css/font-awesome.css" rel="stylesheet" />
    <link rel="stylesheet" href="/js/font-awesome/css/font-awesome.min.css">

    <!-- Custom Styles-->
    <link href="/css/custom-styles.css" rel="stylesheet" />
    <link href="/js/adminlte/css/AdminLTE.min.css" rel="stylesheet" >
    <link href="/js/adminlte/css/skins/_all-skins.min.css" rel="stylesheet" >
    <link href="/js/adminlte/css/fonts.googleapis.com.css" rel="stylesheet" >
    <!-- Google Fonts-->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />

</th:block>

<th:block th:fragment="common_js">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script> -->
    <script src="/js/jquery.form.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery.twbsPagination.min.js"></script>
    <script type="text/javascript" src="/js/plugins/messager/jquery.bootstrap.min.js" th:src="@{/js/plugins/messager/jquery.bootstrap.min.js}"></script>

    <script src="/js/adminlte/js/adminlte.min.js"></script>
    <script src="/common/commonAll.js"></script>


</th:block>


</html>
