<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>パスワードチェンジ画面</title>
    <!--    <link rel="stylesheet" href="css/input.css">-->
    <!--    <link rel="stylesheet" href="css/input.css">-->
    <link rel="stylesheet" type="text/css" href="css/input.css" th:href="@{/css/input.css}"/>
    <script type="text/javascript">
        // window.onload = function () {
        //     var showinfo = document.getElementById('select');
        //     console.log(showinfo);
        //     var tr = document.querySelectorAll('.tr');
        //     showinfo.addEventListener('change',function () {
        //         if (showinfo.value ==2 ){
        //             tr[0].style.visibility = 'visible';
        //             tr[1].style.visibility = 'visible';
        //             tr[2].style.visibility = 'visible';
        //         }else if(showinfo.value ==1 ||showinfo.value ==3) {
        //             tr[0].style.visibility = 'hidden';
        //             tr[1].style.visibility = 'hidden';
        //             tr[2].style.visibility = 'hidden';
        //         }else if(showinfo.value == 4){
        //             alert("備考欄に原因を書いてください！" );
        //         }
        //     })
        // }
        function goBack() {
            window.history.back()
        }
    </script>
</head>
<body>
<div th:style="'background:url(' +@{/picture/color12.png} + ')'">

    <div align="center" style="font-family: cursive;">
        &nbsp;<h2 id="timer">社員情報</h2><br />
    </div>
    <div class="grad" align="center">&nbsp;
        &nbsp
        <form method="post" th:object="${signUpForm}" >
            <table>
                <span id="msg" th:text="${msg}" style="color: red"></span>
                <tr>
                    <td >社員番号</td>
                    <td><label type="text" class="long" th:name="id" th:text="${id}"></label></td>
                    <td style="display: none">
                        <input type="text" class="long" th:name="id" th:value="*{id}" required="required" readonly="readonly">
                        <input type="text" class="long" th:name="name" th:value="*{name}" required="required" readonly="readonly">
                        <input type="email" class="long" th:name="mail" th:value="*{mail}" required="required" readonly="readonly">
                    </td>
                </tr>
                <tr>
                    <td>名前</td>
                    <td><label type="text" class="long" th:name="name" th:text="${name}"></label></td>
                </tr>

                <tr>
                    <td>元パスワード</td>
                    <td><input type="password" class="long" th:name="passwordOld" th:value="*{passwordOld}" id="passwordOld" maxlength="20" minlength="8"></td>
                </tr>

                <tr>
                    <td>新パスワード</td>
                    <td><input type="password" class="long" th:name="password" th:value="*{password}" id="password" maxlength="20" minlength="8"></td>
                </tr>
                <tr>
                    <td>パスワード再入力</td>
                    <td><input type="password" class="long" th:name="passwordAgain" th:value="*{passwordAgain}" id="repassword">
                        <span id="equles"></span></td>
                </tr>
                <tr>
                    <td colspan="2" style="text-align: center">
                        <input type="submit" value="提出" class="sub" onclick="javascript:this.form.action='/passwordChange/update'">
                        <input type="button" value="戻る" class="sub" onclick="goBack()">
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>
</body>
</html>